@import "https://unpkg.com/purecss@2.0.3/build/pure-min.css";

:root {
  --clr-bg: #333333;
  --clr-bg2: #222222;
  --clr-primary: #d8d8d8;
  --clr-secondary: #9c9c9c;
  --clr-accent: #55aaff;
  --clr-accent2: #ff8800;
  --clr-accent3: #fffb00;
  --ff: "Source Sans Pro", "Trebuchet MS", "Lucida Grande",
    "Bitstream Vera Sans", "Helvetica Neue", sans-serif;

  --card-shadow: 0 0 5px hsl(0, 0%, 0%), 1px -1px 3px hsla(0, 0%, 100%, 0.5);
  --card-shadow2: 0px 0px 10px hsl(0, 0%, 0%),
    1px -1px 3px hsla(0, 0%, 100%, 0.781);

  --trans-time: ease-out 200ms;
  --trans-delay: 0ms;
  background-color: var(--clr-bg);
}

[data-elm-hot="true"] {
  height: inherit;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-width: 300px;
  font-family: var(--ff);
  margin: 0;
  text-align: center;
  color: var(--clr-primary);
  display: grid;
  grid-template-rows: 3rem auto auto;
  grid-template-areas:
    "nav"
    "main"
    "foot";
}

a {
  color: var(--clr-primary);
  display: block;
  padding: 0.5rem 0;
  text-decoration: none;
  white-space: nowrap;
}

li {
  list-style-type: none;
}
img {
  width: 100%;
  max-width: 40rem;
}
.main-nav {
  position: fixed;
  width: 100%;
  grid-area: nav;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  background-color: var(--clr-bg);
  box-shadow: 0 0 10px black;
}
.main-nav__list {
  display: grid;
  grid-template-columns: auto auto auto;
}
.main-nav__clock {
  color: var(--clr-accent);
  background-color: var(--clr-bg);
  cursor: pointer;
  border: none;
}
.main-nav__clock:hover {
  background-color: var(--clr-bg2);
  height: 100%;
}
.main-nav__link:hover {
  background-color: var(--clr-bg2);
}
.main {
  grid-area: main;
}
.footer {
  margin-top: 200px;
  margin-bottom: 50px;
  grid-area: foot;
}

/* HOME */
.home__text {
  margin-bottom: 3rem;
  color: var(--clr-secondary);
}
.home__link-list {
  padding: 0.5rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.home__link {
  padding: 0.5rem 1rem;
  margin: 0.2rem;
  box-shadow: var(--card-shadow);
  border-radius: 5px;
  transition: var(--trans-time);
  transition-delay: var(--trans-delay);
}
.home__link:hover {
  box-shadow: var(--card-shadow2);
}

/* RESOURCES */
.resources__section {
  margin-top: 2rem;
  padding: 0.5rem 0;
  box-shadow: var(--card-shadow);
}
.resources__list-heading {
  color: var(--clr-secondary);
  font-size: 1.5rem;
  text-transform: capitalize;
  font-variant: small-caps;
}
.resources__list-subheading {
  font-size: 1.1rem;
}
.resources__list-link:hover {
  background-color: var(--clr-bg2);
}
/* KATA LINKS */
.kata-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.kata-links__description {
  color: var(--clr-secondary);
  max-width: 30rem;
}
.kata-links__card {
  width: 30rem;
  max-width: 90vw;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 5px;
  transition: var(--trans-time);
  transition-delay: var(--trans-delay);
  box-shadow: var(--card-shadow);
  cursor: pointer;
}
.kata-links__card:hover {
  box-shadow: var(--card-shadow2);
}
.kata-links__link:hover {
  background-color: inherit;
}

/* KATAS */
.kata__heading {
  font-size: 2rem;
}
.kata__result {
  font-size: 1.1rem;
}
.kata__fizzbuzz-number--num {
  color: var(--clr-primary);
}
.kata__fizzbuzz-number--fizz {
  color: var(--clr-accent);
}
.kata__fizzbuzz-number--buzz {
  color: var(--clr-accent2);
}
.kata__fizzbuzz-number--fizzbuzz {
  color: var(--clr-accent3);
}
.kata__numerals-result {
  font-family: serif;
}

/* TIMER */
.timers {
  box-shadow: var(--card-shadow);
}
.timers__time-left {
  font-size: 2rem;
  color: var(--clr-accent);
}
.timers__timer {
  box-shadow: var(--card-shadow);
}
.timers__name {
  font-size: 1.2rem;
}
.timers__control {
  box-shadow: var(--card-shadow);
}
.timers__button {
  height: 2rem;
  padding: 0 2rem;
  color: var(--clr-secondary);
  background-color: var(--clr-bg);
  border: 1px solid var(--clr-secondary);
}
.timers__button:hover {
  background-color: var(--clr-bg2);
}
